/* Reset default margin and padding for the entire page */
html,
body {
    height: 100vh;
    margin: 0%;
}

body,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
.navbar {
    background-color: #dad7cd;
    color: #344e41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Style the div below the navbar */


.name {
    font-size: x-large;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Style the cart icon */
.carticon {
    font-size: 25px;
    /* Adjust the size as needed */
    color: #344e41;
    padding-right: 20px;
}

.search-bar input {
    height: 20px;
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

/* .search-bar button {
    background-color: #344e41;
    color: #dad7cd;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
} */

.cart-items {
    display: flex;
    flex-wrap: wrap;
}



/* CSS */
.addtocart {
  align-self: center;
  background-color: #dad7cd;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #344e41;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 15px;
  outline: none;
  padding: 6px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addtocart:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.addtocart:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}